#home-fProducts {
  padding: 5rem 0;
  max-width: 1200px;
  max-height: 1000px;
  margin: 0 auto;
}

.home-fProducts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 4rem;
}
