#home-fProducts {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    /* margin-top: 111%; */
    /* padding-top: 2%;
    padding-bottom: 2%; */
}

.home-fProducts-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2%;
    background-color: #ffffff;
}