.menu__list__container {
  padding: 30px 30px;
  max-width: 1200px;
  max-height: 1000px;
  margin: 0 auto;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 2.5rem;
}
